@model TransporteBoletos.Models.Boleto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Boleto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeroBoleto" class="control-label"></label>
                <input asp-for="NumeroBoleto" class="form-control" />
                <span asp-validation-for="NumeroBoleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" type="datetime-local" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutaId" class="control-label"></label>
                <select asp-items="ViewBag.Rutas" asp-for="RutaId" class="form-control">
                    <option value="">-- Seleccione una ruta --</option>
                </select>
                <span asp-validation-for="RutaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasajeroId" class="control-label"></label>
                <select asp-items="ViewBag.Pasajeros" asp-for="PasajeroId" class="form-control">
                    <option value="">-- Seleccione un pasajero --</option>
                </select>
                <span asp-validation-for="PasajeroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}