@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Boletos" asp-action="Index">Ver Boletos</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Pasajeros" asp-action="Index">Ver Pasajeros</a></p>
</div>